// bower:scss
// endbower

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.header {

    margin-left: 3em;
    margin-right: 25em;
    font-size: 5em;
    text-align: center;
    color: black;
}

p {
    margin-left: 28em;
    font-size: 1em;
    margin-bottom: 2em;
}

.container {
    margin-left: 25em;
    margin-right: 22em;
    position: absolute;
}

.input-box {
    width: 16em;
}

.caption-box {
    margin-left: 2em;
    margin-right: 2.8em;
    margin-bottom: 2em;
    width: 16em;
}

.button-box {
    width: 5em;
}

.comment-box {
    margin-top: 2em;
    width: 20em;
}

.box-container {
    margin-top: 3em;
}

.canvas-container {
    float: left;
    height: 800px;

}

.images img {
    margin-left: 0 auto;
    margin-right: 0 auto;
    display: block;
    width: 30em;
}

canvas {
    margin-top: 43px;
    z-index: 10;
}

