// bower:scss
// endbower

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.header {
    margin-bottom: 0.5em;
    margin-left: 3em;
    margin-right: 25em;
    font-size: 5em;
    text-align: center;
    color: black;
}

.container {
    margin-left: 25em;
    margin-right: 22em;
}

.input-box {
    width: 16em;
}

.caption-box {
    margin-left: 2em;
    margin-right: 2.8em;
    margin-bottom: 2em;
    width: 16em;
}

.button-box {
    width: 5em;
}

.comment-box {
    margin-top: 2em;
    width: 20em;
}
.box.container {
    margin-top: 3em;
}

.images img {
    margin-left: 0 auto;
    margin-right: 0 auto;
    display: block;
    width: 30em;


}
